body {
  font-family: Arial, sans-serif;
  background: #f3f3f3;
  margin: 0;
}

.container {
  padding: 20px;
}

.topo {
  display: grid;
  grid-template-columns: 180px 1fr 240px;
  align-items: center;
  margin-bottom: 20px;
}

.logo img {
  height: 55px;
  object-fit: contain;
}

.kpi-principal h1 {
  margin: 0;
  font-size: 34px;
  font-weight: 700;
}

.kpi-principal {
  text-align: center;
}


.kpi-principal h2 {
  margin: 0;
  font-size: 34px;
  font-weight: 700;
  margin-top: 5px;
}

.filtro {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filtro label {
  font-size: 14px;
  font-weight: 700;
}

.filtro input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #fff;
}

.filtro button {
  padding: 8px;
  border-radius: 8px;
  border: none;
  background: linear-gradient(135deg,#8b1e23,#a52a2a);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.filtro button:hover {
  transform: scale(1.03);
}

.filtro input {
  margin-bottom: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.destaque {
  grid-column: span 2;
  height: 240px;
}

.card {
  background: white;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  height: 190px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.card-header span {
  font-weight: bold;
  font-size: 18px;
}

.entrega {
  grid-column: span 2;
}

canvas {
  max-height: 130px !important;
}

.btn-filtro {
  background: #8b1e23;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 10px;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #8b1e23;
  padding: 30px;
  border-radius: 20px;
  width: 70%;
  color: white;
}

.modal-content select {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border-radius: 6px;
  border: none;
}

.close {
  float: right;
  cursor: pointer;
}

.btn-aplicar {
  margin-top: 15px;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #8b1e23;
  background: white;
  color: #8b1e23;
  font-weight: bold;
  cursor: pointer;
  width: 150px;
  transition: 0.2s;
}

.btn-aplicar:hover {
  background: #8b1e23;
  color: white;
}

.filtros-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 15px;
  margin-top: 20px;
}

.filtros-grid label {
  font-size: 13px;
  display: block;
  margin-bottom: 4px;
}

.acoes-card {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn-detalhe {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.destaque {
  height: 200px;
}

.card {
  height: 170px;
}

canvas {
  max-height: 110px !important;
}